@import 'libs.scss';
@import 'mixins.scss';
@import 'variables.scss';

body {
	background-color: skyblue;
	text-align: center;

	h1 {
		color: $white;
		font-size: remSize(76);
		@include absoluteCenter();
	}
}