@import 'service/libs.scss';
@import 'service/mixins.scss';
@import 'service/variables.scss';
@import 'service/sprite.scss';

body {
	background-color: skyblue;
	text-align: center;

	h1 {
		color: $white;
		font-size: remSize(76);
		@include absoluteCenter();
	}
}